* {
    box-sizing: border-box;
}
body {
    margin: 0;
    
}
.main {
    display: flex;
    width: 1000px;
    margin: auto;
   
}
.left {
  background-color: #fff;
}
.right {
    background-color:rgb(58, 58, 193) ;
}
.background {
    background-color: rgba(137, 176, 223) ;
}